<!DOCTYPE html>
<html lang = "en">
<html>
    <head>
    <%= csrf_meta_tags%>
    <%= stylesheet_link_tag  'application', media: 'all'    %>
    <%= javascript_include_tag 'application' %>
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class= "container">
                <div class="container">
                    <form name="form" form action="/calculators" method="post">
                        <input class="textview" name="content">
                         <input type="submit" value="Submit This Calculation">
                    </form>
                    <table>
                        <tr>
                            <td><input type="button" value="C" onclick="clean()"></td>
                            <td><input type="button" value="<" onclick="back()"></td>
                            <td><input type="button" value="/" onclick="insert('/')"></td>
                            <td><input type="button" value="X" onclick="insert('*')"></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="7" onclick="insert(7)"></td>
                            <td><input type="button" value="8" onclick="insert(8)"></td>
                            <td><input type="button" value="9" onclick="insert(9)"></td>
                            <td><input type="button" value="-" onclick="insert('-')"></td>
                        </tr>
                        <tr>
                            <td><input  type="button" value="4" onclick="insert(4)"></td>
                            <td><input  type="button" value="5" onclick="insert(5)"></td>
                            <td><input  type="button" value="6" onclick="insert(6)"></td>
                            <td><input  type="button" value="+" onclick="insert('+')"></td>
                        </tr>
                        <tr>
                            <td><input  type="button" value="1" onclick="insert(1)"></td>
                            <td><input  type="button" value="2" onclick="insert(2)"></td>
                            <td><input  type="button" value="3" onclick="insert(3)"></td>
                            <td><input  type="button" value="=" onclick="equal()"></td>
                        </tr>
                        <tr>
                            <td><input  type="button" value="0" onclick="insert(0)"></td>
                            <td><input  type="button" value="." onclick="insert('.')"></td>
                        </tr>
                    </table>
                </div>     
            </div>
            <div class = 'container'>
                <h2 class ='title'>Calculation History</h2>

                <table>
                <thead>
                    <tr>
                    <th colspan="3"></th>
                    </tr>
                </thead>

                <tbody>
                    <% @calculations.each do |calculation| %>
                    <tr>
                        <td><%= calculation.user.email %> calculated :</td>
                    </tr>
                    <tr>
                        <td><%= calculation.content %></td>
                    </tr>
                    <% end %>
                </tbody>
                </table>
            </div>
            <div class="form-inline mr-1 mb-5">
                <% if current_user %>
                    <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'navbar-brand' %>
                <% else %>
                    <%= link_to 'Register', new_user_registration_path, class: 'navbar-brand' %>
                    <%= link_to 'Login', new_user_session_path, class: 'navbar-brand' %>
                <% end %>
    </div>

    </body>
</html>
